{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'img/hos.svg' %}" alt="">
        </div>
        <div class="col-md-6 p-4 mt-5">
            <h1 class="display-1 text-uppercase fw-bold"><span class="text-danger">SD Hospital</span> Database</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem tempora blanditiis magnam nam suscipit maxime? Architecto itaque labore vel illum debitis vitae velit ad perferendis est, error, aliquid rerum optio veritatis eum iste. Praesentium, ullam neque repellat beatae voluptate dolor.</p>
            <a class="btn btn-primary" href="#">Know More</a>
        </div>
    </div>
</div>
{% endblock %}